.contacto {
  position: relative;
  width: 100%;
}
.contacto h1 {
  margin-top: 4rem;
  text-align: center;
  color: #084aeb;
  font-size: 4.5rem;
  font-family: "Prata";
  line-height: 1.5;
}
.contacto h2 {
  text-align: center;
  color: #084aeb;
  font-size: 2rem;
  line-height: 1.5;
}
.contacto p {
  margin-top: 2rem;
  text-align: center;
  color: #084aeb;
  font-size: 1rem;
}
.contacto-social {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}
.contacto-social a {
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.3s ease;
}
.contacto-social a:hover {
  filter: opacity(0.5);
}
.contacto-social a:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 700px) {
  .contacto h1 {
    font-size: 2rem;
  }
  .contacto h2 {
    font-size: 1.5rem;
  }
  .contacto p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 450px) {
  .contacto h2 {
    font-size: 1rem;
  }
}
